body {
  font-family: "Inter", sans-serif;
}

#my-heading {
  color: green;
}

.poster-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1280px;
  margin: auto;
}

.poster {
  width: calc(25% - 32px);
  padding: 16px;
  transition: all 0.5s;
}

.poster:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.poster .category {
  color: #2563eb;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  margin-top: 24px;
}

.poster .heading {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #0f172a;
  margin-top: 6px;
  margin-bottom: 8px;
}

.poster img {
  width: 100%;
}

.poster .sumerize {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #334155;
  margin-bottom: 16px;
}
